name: CI

on:
  pull_request:
    branches:
      - 'main'
      - 'dependencies'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v4
        if: ${{ !contains(github.head_ref, 'release') }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
        if: ${{ !contains(github.head_ref, 'release') }}
      - name: Installing deps
        run: npm ci
        if: ${{ !contains(github.head_ref, 'release') }}
      - name: Run Test
        run: npm test
        if: ${{ !contains(github.head_ref, 'release') }}
      - name: Test Build
        run: npm run build
        if: ${{ !contains(github.head_ref, 'release') }}
